<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Inside</title>
</head>
<body>
    <div class="container">
        <h1>
            NEWS FORUM:


        </h1>
    </div>
    <div class = "jumbotron">
        <p><h2>Academic week 1</h2></p>
        <p><h2>Academic week 2</h2></p>
        <p><h2>Academic week 3</h2></p>
        <p><h2>Academic week 4</h2></p>
        <p><h2>Academic week 5</h2></p>
        <p><h2>Academic week 6</h2></p>
        <p><h2>Academic week 7</h2></p>
        <p><h2>Academic week 8</h2></p>
        <p><h2>Academic week 9</h2></p>
        <p><h2>Academic week 10</h2></p>
        <p><h2>Academic week 11</h2></p>
        <p><h2>Academic week 12</h2></p>
        <p><h2>Academic week 13</h2></p>
        <p><h2>Academic week 14</h2></p>
    </div>
</body>
</html>