<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage Teacher</title>
</head>
<body>
<h1>Welcome {{ name }}</h1>
<li><a href="/home/homepage/logout/">Logout</a></li>
<h1>Available Courses</h1>
<table width="50%"  border="1">
    <tr style="background-color:lightgray">
        <th>Course ID</th>
        <th>SESSION ID</th>
    </tr>
    {% for course in courses %}
       <tr>
           <td>{{course.cou_id}}</td>
           <td>{{course.ses_id}}</td>
            <td><a href="/home/profile/student/course/">View Details</a> </td>
       </tr>
    {% endfor %}
</body>
</html>